<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdm.opengl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.Sample3.Sample3_1Activity" >
        </activity>
        <activity android:name="com.cdm.api.activity.ViewPagerActivity" android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.Sample5.Sample5_1Activity" android:label="@string/app_name">
        </activity>
         <activity android:name=".activity.Sample5.Sample5_2Activity" android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.Sample5.Sample5_3Activity" android:label="@string/app_name">
        </activity>
         <activity android:name=".activity.Sample5.Sample5_4Activity" android:label="@string/app_name">
        </activity>
         <activity android:name=".activity.Sample5.Sample5_5Activity" android:label="@string/app_name">
        </activity>
         <activity android:name=".activity.Sample5.Sample5_6Activity" android:label="@string/app_name">
        </activity>
          <activity android:name=".activity.Sample5.Sample5_7Activity" android:label="@string/app_name">
        </activity>
         <activity android:name=".activity.Sample5.Sample5_8Activity" android:label="@string/app_name">
        </activity>
         <activity android:name=".activity.Sample5.Sample5_9Activity" android:label="@string/app_name">
        </activity>
        <activity android:name=".activity.Sample5.Sample5_10Activity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
